{# filepath: /home/gbm96348/nfs_home/lume-deployment/poly_lithic/templates/plugin/__init__.py.j2 #}
"""
{{ package_name }} - A poly_lithic plugin package.

This package includes examples of all three plugin types.
Comment out the ones you don't need.
"""

__version__ = "0.1.0"

# Note: Plugin classes are defined in {{ package_name }}.plugins
# They are automatically discovered via entry points, so no need to import them here
# unless you want to use them directly in your code.